.swiper-pagination {
    position: static;
    line-height: 1;
    .swiper-pagination-bullet {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $gray-color;
        background-color: transparent;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: relative;
        &:hover,
        &-active {
            border-color: $theme-color;
        }
        &::before{
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: var(--gray-color);
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        &-active::before,
        &:hover::before{
            background-color: $theme-color;
        }
    }
}