.space,
.space-top {
  padding-top: $space;
}

.space,
.space-bottom {
  padding-bottom: $space;
}

.space-minimize,
.space-minimize-top {
  padding-top: calc($space - 26px);
}

.space-minimize,
.space-minimize-bottom {
  padding-bottom: $space;
}

.space-extra,
.space-extra-top {
  padding-top: $space-extra;
}

.space-extra,
.space-extra-bottom {
  padding-bottom: $space-extra;
}

.space-extra2,
.space-extra2-top {
  padding-top: $space-extra2;
}

.space-extra2,
.space-extra2-bottom {
  padding-bottom: $space-extra2;
}


@include md {

  .space,
  .space-top {
    padding-top: $space-mobile;
  }

  .space,
  .space-bottom {
    padding-bottom: $space-mobile;
  }

  .space-minimize,
  .space-minimize-top {
    padding-top: calc($space-mobile - 26px);
  }

  .space-minimize,
  .space-minimize-bottom {
    padding-bottom: $space-mobile;
  }

  .space-extra,
  .space-extra-top {
    padding-top: $space-mobile-extra;
  }

  .space-extra,
  .space-extra-bottom {
    padding-bottom: $space-mobile-extra;
  }

  .space-top-md-none {
    padding-top: 0;
  }

  .space-extra2,
  .space-extra2-top {
    padding-top: 70px;
  }

  .space-extra2,
  .space-extra2-bottom {
    padding-bottom: 70px;
  }

  .pb-105 {
    padding-bottom: 65px;
  }

  .pt-105 {
    padding-top: 65px;
  }
}

@include vxs {

  .space,
  .space-top {
    padding-top: $space-small-mobile;
  }

  .space,
  .space-bottom {
    padding-bottom: $space-small-mobile;
  }

  .space-minimize,
  .space-minimize-top {
    padding-top: calc($space-small-mobile - 26px);
  }

  .space-minimize,
  .space-minimize-bottom {
    padding-bottom: $space-small-mobile;
  }

  .space-extra,
  .space-extra-top {
    padding-top: $space-mobile-extra;
  }

  .space-extra,
  .space-extra-bottom {
    padding-bottom: $space-mobile-extra;
  }

  .space-top-md-none {
    padding-top: 0;
  }

  .space-extra2,
  .space-extra2-top {
    padding-top: 70px;
  }

  .space-extra2,
  .space-extra2-bottom {
    padding-bottom: 70px;
  }

  .pb-105 {
    padding-bottom: 65px;
  }

  .pt-105 {
    padding-top: 65px;
  }
}

@mixin generate-space-minimizes {
  @for $i from 1 through $space-count {
    .space-top-minimize-#{5 * $i} {
      padding-top: calc(#{$space} - #{5 * $i}px) !important;
    }

    .space-bottom-minimize-#{5 * $i} {
      padding-bottom: calc(#{$space} - #{5 * $i}px) !important;
    }
  }
}

// Generate space minimize classes
@include generate-space-minimizes;