/*awards area 1***********************/

.awards-wrap-area {
    list-style: none;
    padding: 0;
    margin: 0;

    .single-awards-list {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 30px 0 30px;
        position: relative;
        z-index: 1;

        @include xs {
            flex-direction: column;
            align-items: center;
        }

        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 0;
            background-color: var(--theme-color);
            height: 1px;
            z-index: -1;
            opacity: 0;
            transition: all 500ms ease;
        }

        &:hover::before {
            width: 100%;
            opacity: 1;
        }

        &:first-child {
            border-top: 1px solid rgb(255, 255, 255, .1);
        }

        span {
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            color: $title-color;
            transition: 1.0s;
            max-width: 160px;
            width: 100%;
        }

        .awards-year {
            text-align: right;
        }

        &:hover {

            .awards-tag,
            .awards-title {
                transform: translate3d(1.5rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
            }

            .awards-subject,
            .awards-year {
                transform: translate3d(-1.5rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
            }
        }
    }
}

@include sm {
    .awards-wrap-area {
        .single-awards-list {
            flex-direction: column;

            .awards-year {
                text-align: left;
            }
        }
    }


    .awards-wrap-area .single-awards-list:hover {

        .awards-tag,
        .awards-title {
            transform: none;
        }

        .awards-subject,
        .awards-year {
            transform: none;
        }
    }
}

@include vxs {
    .awards-wrap-area {
        .single-awards-list {
            text-align: center;

            .awards-year {
                text-align: center;
            }
        }
    }
}