/*Faq Area 1=================*/
.faq-area-1 {
    border-radius: 10px;
    border: 1px solid $border-color;
    padding: 50px 35px;
    margin-top: 35px;
    .faq-title{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 35px;
    }
}

.accordion-box.style-2 {
    position: relative;

    .accordion {
        position: relative;
        padding: 22px 30px 22px;
        border: 1px solid $border-color;
        border-radius: 10px;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        .active-block{
            padding: 25px 30px 30px;
        }


        .acc-btn {
            position: relative;
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            color: $white-color;
            cursor: pointer;
            padding: 0;
            padding-right: 30px;
            transition: all 500ms ease;
            border-top: 0;
            border-bottom: 0;
            &.active{
                color: $theme-color;
                padding: 0 0 26px;
                border-bottom: 1px solid $border-color;
            }
            &:hover {
                color: $theme-color;
            }

            @include vxs {
                font-size: 25px;
            }

            .title {
                margin-left: 25px;
            }

            i {
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                transition: all 500ms ease;
                transform: translateY(-50%) rotate(0);
            }


            &.active {
                i {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        .acc-content {
            position: relative;
            display: none;

            &.current {
                display: block;
            }

            .content {
                position: relative;
                padding: 0;
                margin-top: 20px;
                .text {
                    display: block;
                    font-size: 16px;
                    margin: 0;
                    color: $gray-color;
                }
            }
        }

        &::last-child {
            .acc-btn {
                border-bottom: 1px solid $border-color;
            }
        }
    }
}