/*feature area 1***********************/
.feature-box {
    background: $black-color;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 25px;

    &-icon {
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 10px;
        background-color: $black-color2;
    }

    &-title {
        color: $theme-color;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    &-text {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 0;
    }
}