/* Portfolio 1 ---------------------------------- */
.portfolio-area-1 {
    background-size: 100% calc(100% - 240px);
    background-position: bottom;
}

.portfolio-text {
    font-size: 18px;
    line-height: 22px;
    color: $title-color;
    & span {
        font-weight: 700;
    }
}

.portfolio-filter {
    li {
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        font-weight: 400;
        color: $white-color;
        transition: all 0.3s ease;
        position: relative;

        &::before {
            position: absolute;
            content: "/";
            font-size: 18px;
            color: $white-color;
            right: -10px;
        }
        
        &:last-child:before{
            display: none;
        }

        &:hover {
            font-weight: 600;
            color: $theme-color; 
        }

        &.current_menu_item {
            font-weight: 600;
            color: $theme-color; 
        }
    }
}


.portfolio-wrap {
    position: relative;
    display: block;
    .portfolio-thumb {
        display: inline-block;
        overflow: hidden;
        img {
            transform: scale(1.03);
            transition: 0.4s ease-in-out;
        }
    }
    .portfolio-details {
        padding-top: 28px;
        .portfolio-meta {
            display: inline-flex;
            padding: 0;
            margin: 0 0 14px;
            li {
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
                position: relative;
                &:after {
                    content: '/';
                    position: relative;
                    margin: 0 2px;
                }
                a {
                    color: $title-color;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .portfolio-title {
            font-weight: 600;
            margin-bottom: 23px;
            a {
                color: $title-color;
            }
        }
    }
    &:hover {
        .portfolio-thumb {
            img {
                transform: scale(1.03) translateX(8px);
            }
        }
    }
}

@include lg {
    .portfolio-wrap.style2 .portfolio-details {
        padding: 0 0 30px 30px;
    }
}
@include md {
    .portfolio-wrap.style2 .portfolio-details {
        padding: 0 0 40px 40px;
    }
}
@include xs {
    .portfolio-wrap.style2 .portfolio-details {
        padding: 0 0 30px 30px;
    }
    .portfolio-wrap.style2 .portfolio-details .portfolio-title {
        font-size: 24px;
    }
}