/* Portfolio 1 ---------------------------------- */
.portfolio-area-1 {
    background-size: 100% calc(100% - 240px);
    background-position: bottom;
}

.portfolio-text {
    font-size: 18px;
    line-height: 22px;
    color: $title-color;

    & span {
        font-weight: 700;
    }
}

.portfolio-filter {
    li {
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;
        font-weight: 400;
        color: $white-color;
        transition: all 0.3s ease;
        position: relative;
        @include sm{
            background: $black-color2;
            margin-bottom: 5px;
            border-radius: 5px;
        }

        &::before {
            position: absolute;
            content: "/";
            font-size: 18px;
            color: $white-color;
            right: -10px;
            @include sm{
                display: none;
            }
        }

        &:last-child:before {
            display: none;
        }

        &:hover {
            font-weight: 600;
            color: $theme-color;
        }

        &.current_menu_item {
            font-weight: 600;
            color: $theme-color;
        }
    }
}



.portfolio-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black-color;
    padding: 25px;
    padding-left: 45px;
    margin-bottom: 25px;
    border: 1px solid $border-color;
    border-radius: 10px;

    .portfolio-details {
        flex: 1;
        padding-right: 45px;

        .portfolio-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 110px;

            a {
                color: $white-color;
                text-decoration: none;
                transition: all 300ms ease;

                &:hover {
                    color: $theme-color;
                }
            }

            .portfolio-pagination {
                font-weight: 400;
            }
        }

        .portfolio-desc {
            color: $gray-color;
            width: 85%;
            margin-bottom: 120px
        }

        .portfolio-title_upper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            line-height: 28px;
            color: $white-color;
        }
    }

    .portfolio-thumb {
        flex: 1;
        @include flex-center;
        position: relative;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .portfolio-thumb-view a {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            width: 110px;
            height: 110px;
            line-height: 110px;
            text-align: center;
            background-color: #fff;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            transition: all 500ms ease;
        }
    }
    &:hover{
        .portfolio-thumb-view a{
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
}


// Responsive styles
@include lg {
    .portfolio-details {
        padding-right: 30px;
    }

    .portfolio-title {
        font-size: 28px;
        line-height: 38px;
    }

    .portfolio-title_upper {
        font-size: 16px;
        line-height: 26px;
    }
}

@include md {
    .portfolio-wrap {
        flex-direction: column;
        align-items: flex-start;

        .portfolio-details {
            padding-right: 0;
        }

        .portfolio-thumb {
            margin-top: 30px;
        }
    }

    .portfolio-title {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 35px;
    }

    .portfolio-title_upper {
        font-size: 14px;
        line-height: 24px;
    }

}

@include xs {
    .portfolio-wrap {
        padding: 15px;

        .portfolio-details {
            padding-right: 15px;
        }

        .portfolio-title {
            font-size: 20px;
            line-height: 30px;
        }

        .portfolio-title_upper {
            font-size: 12px;
            line-height: 22px;
        }
    }
}

@media (max-width: 450px) {
    .portfolio-wrap {
        .portfolio-details {
            padding-right: 0;

            .portfolio-title {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 20px;

                a {
                    font-size: 20px;
                }

                .portfolio-pagination {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .portfolio-desc {
                width: 100%;
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 20px;
            }

            .portfolio-title_upper {
                font-size: 16px;
                line-height: 25px;
                flex-direction: column;
            }
        }

        .portfolio-thumb {
            margin-top: 15px;

            .portfolio-thumb-view a {
                width: 70px;
                height: 70px;
                line-height: 70px;
            }
        }
    }
}
