
/* Pricing 1 ---------------------------------- */
.pricing-item {
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 50px 35px;
    transition: all 500ms ease;

    &:hover {
        transform: translateY(-10px);
    }

    .pricing-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    .price-item-wrap {
        margin-bottom: 20px;
    }

    .pricing-item_price {
        margin-bottom: 10px;
    }

    .duration {
        color: $gray-color;
    }

    .pricing-btn {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        .link-btn {
            width: 100%;
        }
    }

    .checklist {
        li {
            margin-bottom: 10px;
            padding-left: 20px;
            position: relative;
            color: $white-color;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $theme-color;
            }
        }
    }

    &.upper {
        background-color: $theme-color;
        color: $black-color;

        h5,
        h2,
        .duration {
            color: $black-color;
        }

        .pricing-btn {
            border-top: 1px solid $black-color;
            border-bottom: 1px solid $black-color;
        }

        .checklist li {
            color: $black-color;
            &::before {
                background-color: $black-color;
            }
        }
    }
}

@include md {
    .pricing-item{
        margin-bottom: 30px;
    }
}


@include sm {
    .pricing-item {
        // Styles for small devices (≤ 767px)
        padding: 40px 30px;

        .pricing-title {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 10px;
        }

        .price-item-wrap {
            margin-bottom: 15px;
        }

        .pricing-item_price {
            margin-bottom: 5px;
        }

        .checklist li {
            margin-bottom: 5px;
        }
    }
}

@include xs {
    .pricing-item {
        // Styles for extra small devices (≤ 575px)
        padding: 30px 20px;

        .pricing-title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 8px;
        }

        .price-item-wrap {
            margin-bottom: 10px;
        }

        .pricing-item_price {
            margin-bottom: 5px;
        }

        .checklist li {
            margin-bottom: 5px;
        }
    }
}

@include vxs {
    .pricing-item {
        // Styles for very extra small devices (≤ 375px)
        padding: 20px 15px;

        .pricing-title {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 5px;
        }

        .price-item-wrap {
            margin-bottom: 8px;
        }

        .pricing-item_price {
            margin-bottom: 5px;
        }

        .checklist li {
            margin-bottom: 5px;
        }
    }
}
