/*=============================
    19. service Details
===============================*/
.service__inner-wrap .row .col-80 {
    width: 70.5%;
    flex: 0 0 auto;
}

@media (max-width: 1199.98px) {
    .service__inner-wrap .row .col-80 {
        width: 67.5%;
    }
}

@media (max-width: 991.98px) {
    .service__inner-wrap .row .col-80 {
        width: 100%;
    }
}

.service__inner-wrap .row .col-20 {
    width: 29.5%;
    flex: 0 0 auto;
}

@media (max-width: 1199.98px) {
    .service__inner-wrap .row .col-20 {
        width: 32.5%;
    }
}

@media (max-width: 991.98px) {
    .service__inner-wrap .row .col-20 {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .service__sidebar {
        margin-top: 100px;
    }
}

/*service Details Area**********/
.service__details-wrap {
    border-radius: 10px;
    padding: 35px;
    border: 1px solid $border-color;
}


.service__details-thumb {
    margin-bottom: 25px;

    img {
        border-radius: 10px;
        min-height: 250px;
        object-fit: cover;
    }
}


.service__details-content>.title {
    font-size: 30px;
    line-height: 40px;
    color: $white-color;
    text-transform: capitalize;
    margin-bottom: 25px;
}

@media (max-width: 1199.98px) {
    .service__details-content>.title {
        font-size: 28px;
    }
}

@media (max-width: 767.98px) {
    .service__details-content>.title {
        font-size: 25px;
    }
}

/*sidebar-widget**************/
.service__sidebar {
    .sidebar__widget {
        background-color: $black-color;
        padding: 35px;
        border-radius: 10px;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.sidebar__service-list .list-wrap li {
    margin-bottom: 25px;

    a {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        background-color: $black-color2;
        padding: 16px 30px;
        border-radius: 10px;
        transition: all 300ms ease;
        position: relative;

        &::before {
            position: absolute;
            content: "\f054";
            font-family: $icon-font;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 22px;
            @include lg{
                right: 15px;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.sidebar__contact-info .contact-info-list {
    .item{
        display: flex;
        gap: 20px;
        padding: 18px 0;
        border-top: 1px solid $border-color;

        &:last-child{
            border-bottom: 1px solid $border-color;
        }
    }

}