/* Testimonial 1 ---------------------------------- */
.testimonial-area-1 {
    position: relative;
}

.swiper-pagination {
    position: static;
    line-height: 1;
    .swiper-pagination-bullet {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $gray-color;
        background-color: transparent;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: relative;
        &:hover,
        &-active {
            border-color: $theme-color;
        }
        &::before{
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: var(--gray-color);
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        &-active::before,
        &:hover::before{
            background-color: $theme-color;
        }
    }
}


@mixin flex-center {
    display: flex;
    align-items: center;
}

.testi-item {
    border: 1px solid $border-color;
    border-radius: 10px;
    
    .testi-upper {
      @include flex-center;
      padding: 35px;
      
      &_thumb {
        flex-shrink: 0;
        
        img {
          border-radius: 70px;
          object-fit: cover;
        }
      }
      
      .testi-upper_info {
        margin-left: 35px;
        
        .title {
          font-size: 20px;
          line-height: 30px;
          margin: 0 0 22px;
        }
        
        .text {
          font-size: 18px;
          line-height: 28px;
          color: $gray-color;
          margin: 0;
        }
      }
    }
    
    .testi-lower {
      @include flex-center;
      justify-content: space-between;
      border: 1px solid $border-color;
      border-radius: 10px;
      padding: 25px 35px;
      
      &_info {
        .name {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 8px;
        }
      }
      
      .review-list {
        display: flex;
        padding: 10px 20px;
        background-color: $black-color;
        border-radius: 52px;
        
        i {
          font-size: 14px;
          line-height: 20px;
          color: $theme-color;
          margin-right: 5px;
        }
      }
    }
}

@include sm {
    .testi-item {
        .testi-upper,
        .testi-lower {
            flex-direction: column;
            align-items: center;
        }
        
        .testi-upper {
            padding: 20px;
            .testi-upper_info{
                margin-left: 0;
            }
            
            &_thumb {
                margin-bottom: 20px;
            }
        }
        
        .testi-lower {
            padding: 20px;
            text-align: center;
            
            .review-list {
                margin-top: 20px;
            }
        }
    }
}
